<div class="register-container">
    <form action="" class="form">
        <h2 style="color: white;">Create your Account</h2>
        <input type="text" name="" id="" placeholder="Enter full name" required>
        <input type="email" name="" id="" placeholder="Enter email here" required>
        <input type="number" name="" id="" placeholder="Enter contact number" required>
        <input type="password" name="" id="" placeholder="Enter password" required>
        <input type="button" value="Login" class="btn btn-primary">
        <p style="text-align: center;">Already have an <a routerLink="/login">account.</a></p>
    </form>
</div>